html,
body{
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(221, 221, 221);
}
rodape{
    text-align: center;
    position: absolute;
    bottom: 0;
}
.imgDiv{
    position: absolute;
    top: 100px;
    left: 0;
    
 }
.navbar-style{
    background: rgb(29,177,191);
    background: linear-gradient(90deg, rgba(29,177,191,1) 29%, rgba(131,51,180,1) 57%);
    font-weight: bold;
}
.container{
    width: max-content;
    height: 100%;
}
.gradient {
    background: rgb(29,177,191);
    background: linear-gradient(90deg, rgba(29,177,191,1) 29%, rgba(131,51,180,1) 57%); 
}
.page-header{
    font-size: 1.25rem;
    color: white;
    border-bottom: 0px solid #eee;
}
.info-box{
    font-size: 1rem;
    color:black;
    border-bottom: 0px solid #eee;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
    margin-right: 35px;
}
.header-text{
    font-size:30px;
    text-shadow: lightgray;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: bold;
    justify-content: center;
    align-items: center;
}